<div>
  <div>
    <iframe width="100%" height="300" [src]="video.url | safe">
    </iframe>
  </div>

  <form>
    <div *ngIf="editTitle" class="form-group">
      <input   [(ngModel)]="video.title" type="input" class="from-control" name="title" required placeholder="title">
    </div>
    <h3 *ngIf="!editTitle" (click)="onTitleClick()">{{video.title}}</h3>
    <div class="form-group">
      <input [value]="video.url" (input)="video.url = $event.target.value" type="input" class="from-control" name="url" required placeholder="url">
    </div>
    <div class="form-group">
      <textarea class="from-control" rows="5" name="desc" [(ngModel)]="video.description">
      </textarea>
    </div>
    <button (click)="updateVideo()" type="button" class="btn btn-primary">Update</button>
     &nbsp;
    <button (click)="deleteVideo()" type="button" class="btn btn-primary">Delete</button>
  </form>
</div>
